NODE_ENV=development
CRON_SCHEDULE=*/30 * * * *
SITEMAP_URL=http://localhost:3000/sitemap.xml
INDEXNOW_HOST=localhost
INDEXNOW_KEY=
INDEXNOW_KEY_LOCATION=
INDEXNOW_ENDPOINT=https://api.indexnow.org/indexnow
